<div>
  <h1 class="text-xl font-bold">Messages</h1>
  <%= turbo_stream_from "messages" %>
  <div id="messages" class="max-w-2xl">
    <%= render MessageComponent.with_collection(@messages) %>
  </div>

  <%= render "form" %>
<div>
